<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminHub</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--Header-->
<header>
    <!--Nav-->
    <div class="nav container">
    <!--Logo-->
    <a href="/" class="logo">Ve<span>nom</span></a>
    </div>
</header>
    <!--Admin Login-->
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="login" method="post">
                    <h2>Login</h2>
                    <div class="inputbox">
                    <ion-icon name="name-outline"></ion-icon>
                        <input name="name" type="name" required>
                        <label for="name">name</label>
                    </div>
                    <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                        <input name="email" type="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                        <input name="password" type="password" required>
                        <label for="passwords">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me <a href="#">Forget Password</a></label>
                    </div>
                    <button type="submit">Log-In</button>
                </form>
            </div>
        </div>
    </section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
